.processing {
	position: relative;
}
.processing::after {
	content: '';
	background: rgba(0, 0, 0, 0.1) url(/wp-includes/js/tinymce/skins/lightgray/img/loader.gif) no-repeat center center;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
}
